html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
a {
  text-decoration: none;
  color: #007ca7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald;
  color: #411748;
}
button {
  background-color: #6b2d81;
  border: none;
  padding: 0.4em 1em;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.mainpage {
  background-color: #AAA;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.mainpage > .toolbar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: #411748;
  color: white;
}
.mainpage > .toolbar .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
.mainpage > .toolbar .icon i {
  font-size: 18pt;
  line-height: 60px;
}
.mainpage .pagecontainer {
  position: absolute;
  left: 60px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.mainpage .pagecontainer .pagecontainer-panels {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mainpage .pagecontainer .pagecontainer-panels .panel {
  background-color: #DDD;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translate(0, 20%);
  transform: translate(0, 20%);
  opacity: 0;
  transition: opacity 140ms ease-out, transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}
.mainpage .pagecontainer .pagecontainer-panels .panel.selected {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 1;
}
.mainpage .pagecontainer .pagecontainer-panels .panel.with-header {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
.mainpage .pagecontainer .pagecontainer-panels .panel.with-header > header {
  flex-shrink: 0;
  height: 40px;
  background-color: #6b2d81;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 20px;
}
.mainpage .pagecontainer .pagecontainer-panels .panel.with-header > header .title {
  flex: 1;
  text-transform: uppercase;
}
.mainpage .pagecontainer .pagecontainer-panels .panel.with-header > header .actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.mainpage .pagecontainer .pagecontainer-panels .panel.with-header > section {
  padding: 20px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.mainpage .pagecontainer .pagecontainer-panels .panel.with-header > section .contentbloc {
  background-color: white;
  border: 1px solid #AAA;
  padding: 20px;
}
.subtitle {
  color: gray;
}
@media screen and (max-width: 940px) {
  .mainpage .pagecontainer .content {
    padding: 20px;
  }
  .mainpage .pagecontainer .content .contentbloc {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .mainpage .pagecontainer .content {
    padding: 10px;
  }
  .mainpage .pagecontainer .content .contentbloc {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .mainpage .pagecontainer .content {
    padding: 5px;
  }
  .mainpage .pagecontainer .content .contentbloc {
    margin: 5px;
    width: 100%;
    height: auto;
  }
}
